.title {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    color: rgb(182,182,182);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}

.borderLine {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background: none;
    border-bottom: 1px solid #eee;
    height: 0;
}

.postTemplate {
    width: 100%;
    max-width: 720px;
    margin: 1rem auto;
}

li > p {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}