.titleRow {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 50em) {
    .titleRow { 
        flex-direction: row;
    }
    .title {
        text-align: left;
    }
    .subtitle {
        text-align: left;
    }
}

.title {
    margin: 0;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: hsla(0, 0%, 0%, .3);
    margin: 0;
    margin-left: 1rem;
    margin-top: 0.3rem;
    font-size: 1.2rem;
}

.borderLine {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background: none;
    border-top: 2px solid rgb(238, 238, 238);
    height: 0;
}

.post {
    max-width: 40rem;
}

.wide {
    max-width: none;
}